/* Space out content a bit */
body {
/*  padding-top: 20px;*/
  padding-bottom: 20px;
}

input, form {
	max-width: 100%;
}

.header,
.view,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.right {
	float: right;
}

.down3 {
	margin-top: 3px;
}

.hidden {
	display: none;
}

.no-padding {
	padding: 0;
}
.no-margin {
	margin: 0;
}
.margin-t15 {
	margin-top: 15px;
}

.no-padding-right {
	padding-right: 0;
}
.no-padding-left {
	padding-left: 0;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
#banner {
	max-width: 100%;
	max-height: 100%;
	margin-bottom: 10px;
	display: block;
	min-width: 100%;
}
#vis-controls, #download-controls {
	/*padding: 10px 0 10px 0;*/
	margin-top: 10px;
	/*border-top: 1px solid black;*/
	border-bottom: 1px solid black;
}
.vis-adv-h4 {
	margin-top: 0px;
}
.vis-typeselect {
	margin-bottom: 10px;
}
.vis-selectarea {
	margin-bottom: 10px;
}
.vis-selectarea span {
	margin-top: 3px;
}
.vis-plotarea {
	min-height: 500px;
	line-height: 100px;
	text-align: center;
}
.vis-noplot {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
#vis-visnav {
}
.vis-summary-timenav {
	float: left;
}
.vis-summary-timestep {
	margin-top: 39px;
}
.vis-summary-timeselect {
	margin: 0 8px;
}
#vis-plot {
	clear: both;
	margin: 10px 0 10px 0;
}
.ts-param-pane {
	margin: 10px 0 0 0;
	padding: 0 0 20px 0;
	border-bottom: 1px solid #000;
}
.ts-param-pane-panel-title {
	padding: 0;
	margin: 0;
}
.ts-param-pane-param-edit {
	margin-top: 10px;
}
.ts-param-pane-remove-pane {
}
.ts-param-pane-add-pane {
	clear: both;
	float: right;
	margin-top: -14px;
	box-shadow: 0px 0px 55px 40px #eee;
	-moz-box-shadow: 0px 0px 55px 40px #eee;
	-webkit-box-shadow: 0px 0px 55px 40px #eee;
}
.pane-edit {
	margin: 0 0 5px 0;
}
.param-edit-select{
	width: 48%;
	margin-right: 2px;
	display: inline;
}
.condition-edit {
	margin-top: 5px;
}
.download-day-selection {
	height: 200px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-bottom: 10px;
	padding-left: 25px;
	overflow: scroll;
}
.plot-button {
	clear: both;
	margin-bottom: 10px;
}
.tab-area   {
    background-color: #eee;
    padding: 10px 20px;
    margin: auto 15px;
}

div#ngdcheader {left: auto;}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    font-weight: bolder;
    background-color: #eee;
}
.foot   {
    margin: 20px 15px 0 15px;
}


/*.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #eee;
    font-size: larger;
}
*/
.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #777;
    color: #fff;
}

.subheading {
    padding-top: 25px;
}

.status-log-box {
	max-height: 70px;
	overflow-y: scroll;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { }

