/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

input, form {
	max-width: 100%;
}

.header,
.view,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.hidden {
	display: none;
}

.no-padding-right {
	padding-right: 0;
}
.no-padding-left {
	padding-left: 0;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
#banner {
	max-width: 100%;
	max-height: 100%;
	margin-bottom: 10px;
	display: block;
	min-width: 100%;
}
#vis-controls, #download-controls {
	padding: 10px 0 10px 0;
	margin-top: 10px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
#vis-typeselect {
}
#vis-visnav {
}
#vis-summaryselect {
}
#vis-plot {
	clear: both;
	margin: 10px 0 10px 0;
}
.ts-param-pane {
	margin: 10px 0 0 0;
	padding: 0 0 20px 0;
	border-bottom: 1px solid #000;
}
.ts-param-pane-panel-title {
	padding: 0;
	margin: 0;
}
.ts-param-pane-param-edit {
	margin-top: 10px;
}
.ts-param-pane-remove-pane {
}
.ts-param-pane-add-pane {
	clear: both;
	float: right;
	margin-top: -14px;
	box-shadow: 0px 0px 55px 40px #ffffff;
	-moz-box-shadow: 0px 0px 55px 40px #ffffff;
	-webkit-box-shadow: 0px 0px 55px 40px #ffffff;
}
.pane-edit {
	margin: 0 0 5px 0;
}
.param-edit-select{
	width: 48%;
	margin-right: 2px;
	display: inline;
}
.condition-edit {
	margin-top: 5px;
}
.download-day-selection {
	height: 200px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-bottom: 10px;
	padding-left: 25px;
	overflow: scroll;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { }

