<div class="view">
	<h2 class="text-center"> 
	Scatter Plot <div tooltip-help class="right fs20" hover="Select two variables to plot against eachother. <br/><br/> Optionally constrain the results only display where your conditions are true. "></div>
	</h2>
	<div class="container-fluid">
		<div id="vis-controls" class="row">
			<div class="vis-typeselect col-xs-2 no-padding-right no-padding-left">
				<ul class="nav nav-pills nav-stacked">
					<li>
						<a href="#/vis/summary">Summary plots</a>
					</li>
					<li>
						<a href="#/vis/ts">Custom timeseries</a>
					</li>
					<li class="active">
						<a href="#/vis/scatter">Custom scatter
						</a>
					</li>
				</ul>
			</div>
			<div class="col-xs-2">
				<div data-time-range data-predef="predef_time"></div>
			</div>
			<div class="col-xs-4">
				<div data-scatter-param-pane data-predef="predef_selec"></div>
			</div>
			<div class="col-xs-4">
				<div data-condition-container data-predef="predef_cond"></div>
			</div>
			<div class="clear">
				<div class="col-xs-2 col-xs-offset-2 vis-selectarea">
					<a class="btn btn-success" role="button" ng-click="go()"> Plot </a>
				</div>
				<div ng-if="info" class="col-xs-4">
					<h5 class="no-margin margin-b5"> Status </h5>
					<div data-status-log data-text="info"></div>
				</div>
				<div ng-if="error" class="col-xs-4">
					<h5 class="no-margin margin-b5"> Errors </h5>
					<div data-status-log data-text="error"></div>
				</div>
			</div>
		</div>
		<div class="vis-plotarea">
			<div class="row">
				<div data-plotly-plot data-plot="plot"></div>
			</div>
			<div ng-if="plot.download_link" class="row">
				<a ng-href="#/download/{{plot.download_link.timerange.join(';')}}/{{plot.download_link.params}}">Download the data for this timerange</a>
			</div>
			<p class="vis-noplot" ng-if="!plot.download_link"> results will appear here </p>
		</div>
	</div>
</div>
