<div class="view">
	<h2 class="text-center"> Summary Plot </h2>
	<div class="container-fluid">
		<div id="vis-controls" class="row">
			<div id="vis-typeselect" class="col-xs-2">
				<ul class="nav nav-pills nav-stacked">
					<li class="active">
						<a href="#/vis/summary">Summary plots</a>
					</li>
					<li>
						<a href="#/vis/ts">Custom timeseries</a>
					</li>
					<li>
						<a href="#/vis/scatter">Custom scatter</a>
					</li>
					<li>
						<a href="#/vis/event">Find events</a>
					</li>
				</ul>
			</div>
			<div id="vis-selectarea" class="col-xs-10">
				<div id="vis-summaryselect" class="col-xs-3">
					<h4> Select date </h4>
					<quick-datepicker ng-model="selected_date" on-change="dateselect_onchange()" icon-class="glyphicon glyphicon-calendar" disable-timepicker="true"></quick-datepicker>
				</div>
				<div id="vis-summaryselect" class="col-xs-6">
					<h4> Select plot width: </h4>
					<a class="btn btn-default" ng-class="{active:frame_size=='6h'}" ng-href="#/vis/summary/6h/{{timestring}}">6 hour</a>
					<a class="btn btn-default" ng-class="{active:frame_size=='1d'}" ng-href="#/vis/summary/1d/{{timestring}}">1 day</a>
					<a class="btn btn-default" ng-class="{active:frame_size=='3d'}" ng-href="#/vis/summary/3d/{{timestring}}">3 days</a>
					<a class="btn btn-default" ng-class="{active:frame_size=='7d'}" ng-href="#/vis/summary/7d/{{timestring}}">7 days</a>
					<a class="btn btn-default" ng-class="{active:frame_size=='1m'}" ng-href="#/vis/summary/1m/{{timestring}}">1 month</a>
				</div>
			</div>
		</div>
		<div id="vis-plot">
			<div class="row">
				<div class="col-xs-2 col-xs-offset-1">
						<a class="btn btn-default" ng-href="#/vis/summary/{{frame_size}}/{{ make_urldate(summary_file_date_prev) }}">&lt;&lt;-- prev</a>
				</div>
				<div class="col-xs-4">
						<a ng-href="#/download/file/{{ make_urldate(summary_file_date) }}/{{ make_urldate(summary_file_date_end) }}">Download the raw data for this plot</a>
				</div>
				<div class="col-xs-2 col-xs-offset-3">
					<a class="btn btn-default" ng-href="#/vis/summary/{{frame_size}}/{{ make_urldate(summary_file_date_end) }}">next --&gt;&gt;</a>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12" ng-switch="frame_size">
					<div ng-switch-when="6h">
						<img class="img-responsive" ng-src="{{ get_plotsrc_6h(0) }}"></img>
						<img class="img-responsive" ng-src="{{ get_plotsrc_6h(6) }}"></img>
						<img class="img-responsive" ng-src="{{ get_plotsrc_6h(12) }}"></img>
						<img class="img-responsive" ng-src="{{ get_plotsrc_6h(18) }}"></img>
						
					</div>
					<img ng-switch-default class="img-responsive" ng-src="{{ get_plotsrc() }}"></img>

				</div>
			</div>
		</div>
	</div>
</div>
