<div class="view">
	<h2 class="text-center"> Time Series Plot </h2>
	<div class="container-fluid">
		<div id="vis-controls" class="row">
			<div id="vis-typeselect" class="col-xs-2">
				<ul class="nav nav-pills nav-stacked">
					<li>
						<a href="#/vis/summary">Summary plots</a>
					</li>
					<li class="active">
						<a href="#/vis/ts">Custom timeseries</a>
					</li>
					<li>
						<a href="#/vis/scatter">Custom scatter</a>
					</li>
					<li>
						<a href="#/vis/event">Find events</a>
					</li>
				</ul>
			</div>
			<div id="vis-selectarea" class="col-xs-5">
				<div ts-param-container params='params' predef="predef_cond"></div>
			</div>
			<div id="vis-selectarea" class="col-xs-5">
				<div time-range construct="timerange_construct" predef="predef_time"></div>
				<div ts-condition-container params="params" predef="predef_cond"></div>
			</div>
			<div class="row plot-button">
				<div class="col-xs-2 col-xs-offset-2">
					<a class="btn btn-default" role="button" ng-click="go()"> Plot </a>
				</div>
				<div ng-if="info" class="col-xs-5">
					<h5> Status </h5>
					<div status-log text="info"></div>
				</div>
				<div ng-if="error" class="col-xs-5">
					<h5> Errors </h5>
					<div status-log text="error"></div>
				</div>
			</div>
			</div>
		</div>
		<div>
			<div class="row" ng-repeat="plot in plots">
				<div ts-plot plot="plot"></div>
			</div>
		</div>
	</div>
</div>
