<div class="view">
	<div class="container-fluid" style="padding-left:0;">
		<div id="download-controls" class="row" style="border:none;">
            <div id="download-typeselect" class="col-xs-5" style="margin-left:0;padding-left:0;">
                <h4 style="margin-bottom:10px;padding-bottom:5px;border-bottom:thin solid #ccc;">Select Data:</h4>
                                
				<!--<ul class="nav nav-pills nav-stacked">
					<li class="active">
						<a href="#/download/file">Day files</a>
					</li>
					<li>
						<a href="#linktotape">Tape archive</a>
					</li>
				</ul>-->
                
				<div download-time-range predef="predef_time"></div>
                
                <div ng-repeat="product in products">
                    <div class="row" ng-if="$index % 1 == 0">
                        <div class="col-xs-12" ng-if="products[$index]">
                            <input type="checkbox" ng-model="products[$index].selected" />
                            <span style="font-size:smaller;"><label> {{products[$index].product}}:</label>
                                {{products[$index].title}}</span>
                        </div>
                    </div>
                </div>
			</div>
			<div id="download-selectarea" class="col-xs-7" style="background-color:#fff;">
				<!--<div download-time-range predef="predef_time"></div>-->
				<!--<div class="row">
					<div id="vis-summaryselect" class="col-xs-4">
						{{error_message}} <br/>
					</div>
				</div>-->

				<!--<div ng-repeat="product in products">
					<div class="row" ng-if="$index % 4 == 0">
						<div class="col-xs-3" ng-if="products[$index]">
							<label> {{products[$index].product}} </label>
							<input type="checkbox" ng-model="products[$index].selected" />
							<p > {{products[$index].title}} </p>
						</div>
						<div class="col-xs-3" ng-if="products[$index+1]">
							<label> {{products[$index+1].product}} </label>
							<input type="checkbox" ng-model="products[$index+1].selected" />
							<p > {{products[$index+1].title}} </p>
						</div>
						<div class="col-xs-3" ng-if="products[$index+2]">
							<label> {{products[$index+2].product}} </label>
							<input type="checkbox" ng-model="products[$index+2].selected" />
							<p > {{products[$index+2].title}} </p>
						</div>
						<div class="col-xs-3" ng-if="products[$index+3]">
							<label> {{products[$index+3].product}} </label>
							<input type="checkbox" ng-model="products[$index+3].selected" />
							<p > {{products[$index+3].title}} </p>
						</div>
					</div>
				</div>-->
                <h4 style="margin-bottom:20px;">Results:</h4>

                <p> Download all files using <a href="#" data-toggle="tooltip" title="Help text"><strong>wget</strong> <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a><br />
                <input class="form-control input-sm" type="text" value="{{make_wget()}}" readonly> </input>
                <p> Individual files by date</p>

                <div ng-repeat="(date, links) in files">
                    <h4> {{date}} </h4>
                    <div ng-repeat="product in products | filter:{selected:true}">
                        <span style="font-size:small;">
                            <a ng-href="{{links[product.product]}}">{{ links[product.product].split('/')[7]}}</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div id="download-browse" class="row">
        <div class="row">
            <div class="col-xs-2">
                <h2>Results:</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 col-xs-offset-1">
                <p> Download all files using <strong>wget</strong> <span class="glyphicon glyphicon-question-sign" aria hidden="true"></span> </p>
            </div>
            <div class="col-xs-8">
                <input class="form-control" type="text" value="{{make_wget()}}" readonly> </input>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 col-xs-offset-1">
                <p> Individual files by date</p>
            </div>
            <div class="col-xs-8 col-xs-offset-0">
                <div ng-repeat="(date, links) in files">
                    <h4> {{date}} </h4>
                    <div ng-repeat="product in products | filter:{selected:true}">
                        <a ng-href="{{links[product.product]}}">{{ links[product.product]}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>
