<div class="view">
	<h1 class="text-center"> DSCOVR space weather data portal </h1>
            <div class="container-fluid">
                <br/>
		<div class="row">
			<div class="col-xs-4 col-xs-offset-1 well">
				<h3> Contents </h3>
				<ol>
					<li> <a href="" ng-click="scrollTo('swi')" >Space weather instruments</a> </li>
					<li> <a href="" ng-click="scrollTo('dd')" >Data descriptions </a> </li>
					<li> <a href="" ng-click="scrollTo('faq')">FAQ</a> </li> 
					<li> <a href="" ng-click="scrollTo('l')">Links</a> </li> 
					<li> <a href="" ng-click="scrollTo('dt')" >NCEI dscovr team</a> </li>
				</ol>
			</div>
			<div class="col-xs-6 col-xs-offset-1">
				<h2 id="dt"> NCEI DSCOVR team </h2>
				<dl class="dl-horizontal">
					<dt> William Rowland </dt>
					<dd> Data manager, project supervisor</dt>
					<dt> Paul Lotoaniu </dt>
					<dd> Instrument scientist </dd>
					<dt> John Cartwright </dt>
					<dd> Server side api </dt>
					<dt> John LaRocque </dt>
					<dd> DBA </dd>
					<br>
					<dt> Stefan Codrescu </dt>
					<dd> Web interface, pre-generated plots </dd>
					<dt> Margaret Tilton </dt>
					<dd> Database construction </dt>
					<dt> Rob Redmon </dt>
					<dd> Contributor </dd>
					<dt> Heather McCullough </dt>
					<dd> Contributor </dt>
				</dl>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-2">
				<img class="img-responsive" src="images/noaa_logo.png"/>
			</div>
			<div class="col-xs-3">
				<img class="img-responsive" src="images/dscovr_logo.jpg"/>
			</div> 
			<div class="col-xs-2">
				<img class="img-responsive" src="images/nasa_logo.png"/>
			</div>
		</div>
		<h2> General </h2>
		<p> 
			The Deep Space Climate Observatory (DSCOVR) is replacing NASA's Advanced Composition Explorer (ACE) for monitoring space weather at L1. 
			The data collected by DSCOVR enables forecasters to monitor space weather conditions and supports research investigations. The results
			of these efforts will be warning and understanding of conditions that could disrupt earth based infrastructure.
		</p>
		<p>
			Here, we archive, distribute, and provide basic visualization tools for magnetometer and faraday cup measurements. 
			For realtime data, please visit our friends at the <a href="swpc.noaa.gov">Space Weather Prediction Center (SWPC).</a> 
			For EPIC and NISTAR data, please visit NASA's <a href="https://eosweb.larc.nasa.gov"> Atmospheric Science Data Center </a>.
		</p>
		<h2 id="swi"> Space weather instruments</h2>
		<p> DSCOVR is carrying the following space weather monitoring instruments: </p>
		<table class="table">
			<thead>
				<tr>
					<th> Nick </th>
					<th> Name </th>
					<th> Purpose </th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td> PlasMag </td>
					<td> Solar Wind Plasma Sensor and Magnetometer </td>
					<td> Measure solar wind velocity, magnitude and direction of the solar wind magnetic filed </td>
				</tr>
				<tr>
					<td> PHA </td>
					<td> Pulse Height Analyzer </td>
					<td> Provide real-time measurement of particle events that may impact DSCOVR's electronics </td>
				</tr>
			</tbody>
		</table>
		<h2 id="dd"> Data product documentation </h2>
		<p> The following documentation is provided for the data products hosted here. </p>
		<table class="table">
			<thead>
				<tr>
					<th> Instrument </th>
					<th> Measurement </th>
					<th> Availability </th>
					<th> Notes </th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>coming soon</td>
				</tr>
			</tbody>
		</table>
		<h2 id="faq"> FAQ </h2>
		<div class="row">
			<div class="col-xs-6">
				<div class="panel panel-default">
					<div class="panel-heading"> What is DSCOVR? </div>
					<div class="panel-body"> DSCOVR is the Deep Space Climate Observatory. See <a href="http://www.nesdis.noaa.gov/DSCOVR/"> DSCOVR Home </a>. </div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading"> When was DSCOVR launced? </div>
					<div class="panel-body"> February 11, 2015. </div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading"> What is the earliest DSCOVR space weather data I can access? </div>
					<div class="panel-body"> Space weather data became available from DSCOVR on TBD </div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading"> Where can I access real time solar wind data from DSCOVR? </div>
					<div class="panel-body"> From NOAA's <a href="swpc.noaa.gov">Space Weather Prediction Center (SWPC).</a> </div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading"> Where can I access EPIC or NISTAR data? </div>
					<div class="panel-body"> From NASA's <a href="https://eosweb.larc.nasa.gov"> Atmospheric Science Data Center </a></div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading"> Why do the time series plots make my computer slow? </div>
					<div class="panel-body"> The time series plots are resource intensive. A high volume of data and lots of interactivity contribute to this. 
						We reccomend reducing the number of panes, lines, or span of time you have plotted. We have not imposed any limits
						on the number of panes you may create in the time series under the philosophy that no limit is suitable for everyone's
						hardware capabilities.</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="panel panel-default">
					<div class="panel-heading"> How can I share the plot I have created with someone else? </div>
					<div class="panel-body"> Just share the URL of the page! If you have created a plot, it can be uniquely identified by the url. </div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading"> How can I embed a plot I have created with these tools into a presentation? </div>
					<div class="panel-body"> You must take a screen shot of the plot if you wish to embed the plot in a presentation. </div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading"> How can I obtain a publication quality plots? </div>
					<div class="panel-body"> We provide pre-generated plots under visualization/summary. Our site also permits you to download the data
						associated with any custom visualization that you create, so taht you can generate a relevant plot with your own software if you prefer. </div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading"> How do I find interesting events to visualize? </div>
					<div class="panel-body"> We have provided the "find events" module to address this. It is easy to search the entire dataset with this tool.  </div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading"> Need help, find a bug, or have suggestions? </div>
					<div class="panel-body"> Email William Rowland. </div>
				</div>
			</div>
		</div>
		<h2 id="l"> Links </h2>
		<dl class="dl-horizontal">
			<dt> <a href="http://www.ngdc.noaa.gov/docucomp/page?xml=NOAA/NESDIS/NGDC/STP/Space_Weather/iso/xml/satellite-systems_dscovr.xml&view=iso2html&title=Get%20Data%20NOAA/NESDIS/NGDC/STP/Space_Weather/iso/xml/satellite-systems_dscovr.xml">Metadata record</a> </dt>
			<dd> View NCEI's metadata for the DSCOVR archive. </dd>
			<dt> <a href="">sample link</a> </dt>
			<dd> A short description here? </dd>
		</dl>
	</div>
</div>
