<div class="view">
	<h1 class="text-center"> DSCOVR space weather data portal </h1>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-4 col-xs-offset-1 well">
				<h3> Page contents </h3>
				<ol>
					<li> <a href="" ng-click="scrollTo('swi')" >Space weather instruments</a> </li>
					<li> <a href="" ng-click="scrollTo('dd')" >Data descriptions </a> </li>
					<li> <a href="" ng-click="scrollTo('dt')" >NGDC dscovr team</a> </li>
					<li> <a href="" ng-click="scrollTo('l')">Links</a> </li> 
				</ol>
			</div>
			<div class="col-xs-3 col-xs-offset-1">
				<img class="img-responsive" src="images/dscovr_logo.jpg"/>
			</div> 
			<div class="col-xs-2">
				<img class="img-responsive" src="http://www.ncei.noaa.gov/sites/default/files/ncei-circular-icon.svg"/>
			</div>
		</div>
				<h2> General </h2>
				<p> This is the place to find data from the Deep Space Climate Observatory, or DSCOVR spacecraft. DSCOVR is located at the Lagrangian point 1 orbit between the earth and the sun. </p>
		<h2 id="swi"> Space weather instruments</h2>
		<p> DSCOVR is carrying the following space weather monitoring instruments: </p>
		<table class="table">
			<thead>
				<tr>
					<th> Nick </th>
					<th> Name </th>
					<th> Purpose </th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td> PlasMag </td>
					<td> Solar Wind Plasma Sensor and Magnetometer </td>
					<td> Measure solar wind velocity, magnitude and direction of the solar wind magnetic filed </td>
				</tr>
				<tr>
					<td> PHA </td>
					<td> Pulse Height Analyzer </td>
					<td> Provide real-time measurement of particle events that may impact DSCOVR's electronics </td>
				</tr>
			</tbody>
		</table>
		<h2 id="dd"> Data product documentation </h2>
		<p> The following documentation is provided for the data products hosted here. </p>
		<table class="table">
			<thead>
				<tr>
					<th> Instrument </th>
					<th> Measurement </th>
					<th> Availability </th>
					<th> Notes </th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>coming soon</td>
				</tr>
			</tbody>
		</table>
		<h2 id="dt"> NGDC DSCOVR team </h2>
		<div class="row">
			<div class="col-xs-6">
				<dl class="dl-horizontal">
					<dt> Paul Lotoaniu </dt>
					<dd> Instrument scientist </dd>
					<dt> William Rowland </dt>
					<dd> Data manager </dt>
				</dl>
			</div>
			<div class="col-xs-6">
				<dl class="dl-horizontal">
					<dt> Rob Redmon </dt>
					<dd> position </dd>
					<dt> name </dt>
					<dd> position </dt>
				</dl>
			</div>
		</div>
		
		<h2 id="l"> Links </h2>
		<p> None of these actually go anywhere right now </p>
		<dl class="dl-horizontal">
			<dt> <a href="">sample link</a> </dt>
			<dd> A short description here? </dd>
			<dt> <a href="">sample link</a> </dt>
			<dd> A short description here? </dd>
			<dt> <a href="">sample link</a> </dt>
			<dd> A short description here? </dd>
			<dt> <a href="">sample link</a> </dt>
			<dd> A short description here? </dd>
			<dt> <a href="">sample link</a> </dt>
			<dd> A short description here? </dd>
			<dt> <a href="">sample link</a> </dt>
			<dd> A short description here? </dd>
			<dt> <a href="">sample link</a> </dt>
			<dd> A short description here? </dd>
			<dt> <a href="">sample link</a> </dt>
			<dd> A short description here? </dd>
		</dl>
	</div>
</div>
