<div class="view">
	<h1 class="text-center"> DSCOVR space weather data portal </h1>
            <div class="container-fluid">
                <br/>
		<div class="row">
			<div class="col-xs-4 well">
				<h3> Contents </h3>
				<ol>
					<li> <a href="" ng-click="scrollTo('swi')" >Space weather instruments</a> </li>
					<li> <a href="" ng-click="scrollTo('dd')" >Data descriptions </a> </li>
					<li> <a href="" ng-click="scrollTo('l')">Links</a> </li> 
					<li> <a href="" ng-click="scrollTo('dt')" >NGDC dscovr team</a> </li>
				</ol>
			</div>
			<div class="col-xs-2 col-xs-offset-1">
				<img class="img-responsive" src="images/noaa_logo.png"/>
			</div>
			<div class="col-xs-3">
				<img class="img-responsive" src="images/dscovr_logo.jpg"/>
			</div> 
			<div class="col-xs-2">
				<img class="img-responsive" src="images/nasa_logo.png"/>
			</div>
		</div>
				<h2> General </h2>
				<p> The Deep Space Climate Observatory (DSCOVR) is the planned replacement for the NASA Advanced Composition Explorer (ACE) for monitoring the solar wind at L1. Here, data will be archived for visualization and download. For realtime data, please visit the <a href="swpc.noaa.gov">Space Weather Prediction Center (SWPC).</a> </p>
		<h2 id="swi"> Space weather instruments</h2>
		<p> DSCOVR is carrying the following space weather monitoring instruments: </p>
		<table class="table">
			<thead>
				<tr>
					<th> Nick </th>
					<th> Name </th>
					<th> Purpose </th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td> PlasMag </td>
					<td> Solar Wind Plasma Sensor and Magnetometer </td>
					<td> Measure solar wind velocity, magnitude and direction of the solar wind magnetic filed </td>
				</tr>
				<tr>
					<td> PHA </td>
					<td> Pulse Height Analyzer </td>
					<td> Provide real-time measurement of particle events that may impact DSCOVR's electronics </td>
				</tr>
			</tbody>
		</table>
		<h2 id="dd"> Data product documentation </h2>
		<p> The following documentation is provided for the data products hosted here. </p>
		<table class="table">
			<thead>
				<tr>
					<th> Instrument </th>
					<th> Measurement </th>
					<th> Availability </th>
					<th> Notes </th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>coming soon</td>
				</tr>
			</tbody>
		</table>
		<h2 id="l"> Links </h2>
		<p> Resources for the curious </p>
		<dl class="dl-horizontal">
			<dt> <a href="http://www.ngdc.noaa.gov/docucomp/page?xml=NOAA/NESDIS/NGDC/STP/Space_Weather/iso/xml/satellite-systems_dscovr.xml&view=iso2html&title=Get%20Data%20NOAA/NESDIS/NGDC/STP/Space_Weather/iso/xml/satellite-systems_dscovr.xml">Metadata record</a> </dt>
			<dd> View NCEI's metadata for the DSCOVR archive. </dd>
			<dt> <a href="">sample link</a> </dt>
			<dd> A short description here? </dd>
		</dl>
		<h2 id="dt"> NGDC DSCOVR team </h2>
		<div class="row">
			<div class="col-xs-6">
				<dl class="dl-horizontal">
					<dt> William Rowland </dt>
					<dd> Data manager </dt>
					<dt> Paul Lotoaniu </dt>
					<dd> Instrument scientist </dd>
					<dt> Heather McCullough </dt>
					<dd> Contributor </dt>
					<dt> John Cartwright </dt>
					<dd> Contributor </dt>
				</dl>
			</div>
			<div class="col-xs-6">
				<dl class="dl-horizontal">
					<dt> Stefan Codrescu </dt>
					<dd> Web developer </dd>
					<dt> Rob Redmon </dt>
					<dd> Contributor </dd>
					<dt> Margaret Tilton </dt>
					<dd> Contributor </dt>
				</dl>
			</div>
		</div>
	</div>
</div>
