<div class="view">
	<h2 class="text-center"> 
	Time Series Plot <div data-tooltip-help class="right fs20" data-hover="Select variables to plot against time. <br/><br/> Optionally constrain the results displayed to areas where your conditions are true. "></div>
	</h2>
	<div class="container-fluid">
		<div id="vis-controls" class="row">
			<div class="vis-typeselect col-xs-2 no-padding-right no-padding-left">
				<ul class="nav nav-pills nav-stacked">
					<li>
						<a href="#/">Home</a>
					</li>
					<li>
						<a href="#/vis/summary">Summary plots</a>
					</li>
					<li class="active">
						<a href="#/vis/color/ts">Custom timeseries
							<span class="right down3 glyphicon glyphicon-chevron-right" aria-hidden="true"></span>			</a>
					</li>
					<li>
						<a href="#/vis/scatter">Custom scatter</a>
					</li>
					<li>
						<a href="#/download">Download</a>
					</li>
				</ul>
			</div>
			<div class="col-xs-2 no-padding-right">
				<div data-time-range data-predef="predef_time"></div>
			</div>
			<div class="col-xs-4 no-padding-right">
				<div data-color-ts-param-container data-predef="predef_param"></div>
			</div>
			<div class="col-xs-4 no-padding-right">
				<div data-color-condition-container data-predef="predef_cond"></div>
			</div>
			<div class="clear">
				<div class="col-xs-2 col-xs-offset-2 vis-selectarea">
					<a class="btn btn-success" role="button" ng-click="go()"> Plot </a>
				</div>
				<div ng-if="info" class="col-xs-4">
					<h5 class="no-margin margin-b5"> Status </h5>
					<div data-status-log data-text="info"></div>
				</div>
				<div ng-if="error" class="col-xs-4">
					<h5 class="no-margin margin-b5"> Errors </h5>
					<div data-status-log data-text="error"></div>
				</div>
			</div>
		</div>
		<div class="vis-plotarea">
			<div class="row" ng-repeat="plot in plots">
				<div data-plotly-plot data-plot="plot"></div>
			</div>
			<p class="vis-noplot" ng-if="!plots"> results will appear here </p>
		</div>
	</div>
</div>
